asgiref
certifi
crispy-bootstrap5
distlib
Django
django-crispy-forms
django-email
django-environ
filelock
MouseInfo
pillow
pipenv
platformdirs
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
python-decouple
pytweening
setuptools
sqlparse
tzdata
virtualenv
dj-database-url